<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="inputPath" value="C:\Users\yyx19\Desktop\0908 2E UPDATE - 副本.xls"/>
    <add key="outputPath" value="C:\Users\yyx19\Desktop\test.xls"/>
    <add key="sheetName" value="Sheet1"/>
    <add key="numRow" value="87"/>
  </appSettings>
</configuration>